<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGrain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAurora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGlass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGlass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEnglish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEnglish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSpanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSpanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFrench</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFrench</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGerman</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGerman</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconJapanese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconJapanese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChinese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChinese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconKorean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconKorean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPortuguese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPortuguese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGrain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAurora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGlass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGlass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEnglish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEnglish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSpanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSpanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFrench</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFrench</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGerman</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGerman</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconJapanese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconJapanese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChinese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChinese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconKorean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconKorean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPortuguese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPortuguese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.droword.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>droword</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Black.ttf</string>
	</array>
</dict>
</plist>
