<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAurora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChinese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChinese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCzech</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCzech</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDutch</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDutch</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEnglish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEnglish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFinnish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFinnish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFrench</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFrench</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGerman</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGerman</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGlass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGlass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGrain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreek</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreek</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconHebrew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconHebrew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconHungarian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconHungarian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconIndonesian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconIndonesian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconJapanese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconJapanese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconKorean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconKorean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMexican</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMexican</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNorwegian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNorwegian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPolish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPolish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPortuguese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPortuguese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRomanian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRomanian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRussian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRussian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSpanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSpanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSwedish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSwedish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconThai</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconThai</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconTurkish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconTurkish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconUkrainian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconUkrainian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconVietnamese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconVietnamese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordCoral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordCoral</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordInk</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordInk</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordLime</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordLime</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordPaper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordPaper</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordSky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordSky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAurora</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChinese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChinese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCzech</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCzech</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDutch</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDutch</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEnglish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEnglish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFinnish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFinnish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFrench</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconFrench</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGerman</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGerman</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGlass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGlass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGrain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreek</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreek</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconHebrew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconHebrew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconHungarian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconHungarian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconIndonesian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconIndonesian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconJapanese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconJapanese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconKorean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconKorean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMexican</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMexican</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNorwegian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNorwegian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPolish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPolish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPortuguese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPortuguese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRomanian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRomanian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRussian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRussian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSpanish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSpanish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSwedish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSwedish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconThai</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconThai</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconTurkish</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconTurkish</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconUkrainian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconUkrainian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconVietnamese</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconVietnamese</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordCoral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordCoral</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordInk</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordInk</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordLime</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordLime</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordPaper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordPaper</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWordSky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWordSky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.droword.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>droword</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Black.ttf</string>
	</array>
</dict>
</plist>
